.tempor-main{
    height: 500px;
    background-color: #EFE05D;
}
.leftarrow{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    z-index: 1;
}
.carousel-control-prev-icon {
    background-image: url(../../images/arrowleft.png) !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: -70px;
}
.carousel-control-next-icon {
    background-image: url(../../images/arrowright.png) !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: -70px;
}
.carousel-item img{
    height: 500px;
}
.carousel {
    position: relative;
    width: 80%;
    top: 50px;
}
.carousel-indicators{
    display: none !important;
}
.tempor-text{
    font-family: Anton;
    font-weight: 600;
}
.tempor-pargrap{
    font-family: Share Tech;
}
@media only screen and (max-width: 600px) {
    .tempor-main{
        height: 800px;
    }
    .carousel {
        margin: 0 auto;
    }
    .carousel-item img {
        height: auto;
    }
    .tempor-main-row{
        flex-direction: column-reverse;
    }
  }
  @media only screen and (max-width: 768px) {
    .carousel-control-prev-icon {
        margin-left: -47px;
    }
    .carousel-control-next-icon {
        margin-right: -47px;
    }
  }
  @media only screen and (max-width: 600px) {
    .carousel-control-prev-icon {
        margin-left: -42px;
    }
    .carousel-control-next-icon {
        margin-right: -42px;
    }
  }
  @media only screen and (max-width: 360px) {
    .carousel-control-prev-icon {
        margin-left: -32px;
    }
    .carousel-control-next-icon {
        margin-right: -32px;
    }
  }