.Sagittis-main{
    background-color: #EFE05D;
}
.Sagittis-main h1{
    font-family: Anton;
    font-size: 56px;
    text-transform: uppercase;
}
.card-title{
    font-family: Anton;
    font-style:normal;
    font-size: 24px;
    font-weight: 500;
}
.card-text{
    font-family:  Share Tech;
    line-height: 30px;
}
.card{
    background-color: transparent !important;
    border: 0px solid black !important;
}
@media only screen and (max-width: 600px) {
    .sag-second-mobile-row{
        flex-direction: column-reverse;
    }
    h5.card-title.text-end {
        text-align: start !important;
    }
    p.card-text.text-end {
        text-align: start !important;
    }
}